# Node.js (React)
frontend/node_modules/
frontend/build/
frontend/.env

# Python (Django)
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/db.sqlite3
backend/.env

# General
*.log
*.env
venv/
.DS_Store
